ADMIN_USERNAME=musitanorocco3310
ADMIN_PASSWORD=CAMBIA_QUESTA_PASSWORD_PRIMA_DI_PUBBLICARE
SECRET_KEY=GENERA_UNA_CHIAVE_LUNGA_CASUALE
SESSION_COOKIE_SECURE=1
FLASK_DEBUG=0
TELEGRAM_BOT_LINK=https://t.me/INSERISCI_USERNAME_BOT
